<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout>
    <StackLayout>

    <Button text="connect" (tap)="connect()"></Button>
    <Button text="disconnect" (tap)="disconnect()"></Button>
    <Button text="print" (tap)="print()"></Button>
    <Button text="connect Keyboard" (tap)="connectKeyboard()"></Button>
    <Button text="disconnect Keyboard" (tap)="disconnectKeyboard()"></Button>
    <Button text="startListening" (tap)="startListening()"></Button>
    <!-- <Button text="stopListening" (tap)="stopListening()"></Button> -->
</StackLayout>
    <!-- Add your page content here -->
</GridLayout>
